In [1]:
#1. Program to get Numbers between 2000 to 3200 which are divisible by 7 but are not a multiple of 5
a = 2000;
b= 3200;
l=[]
#s=''
while a<=b:
    if (( a%7 == 0 ) & ( a%5 != 0)):
        l.append(a)
        #print(a)
    a = a+1
print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [2]:
2. Program to accept Users Firstname and Last Name and Print in reverse order
a = input("Enter User First Name: " )
b = input("Enter User Last Name: " )
type(b)
c=a[::-1]
d=b[::-1]
f=d+' '+c
f

Enter User First Name: dhanasekar
Enter User Last Name: SenVelu

'uleVneS rakesanahd'

In [16]:
#3.Volume of sphere diameter is 12 cms
dia=12
rad=d/2
pi = 3.1415926535897931
v=4.0/3.0*pi*int(rad)**3
v

904.7786842338603

In [ ]:
904.7786842338603